body {
  margin: 0;
  background-color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-size: 2rem;
}

button {
  all: unset;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 4px;
  transition: background-color 0.15s ease;
}

button:active {
  background-color: #ddd;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #334155;
    color: #fff;
  }
}
